.bg-footer{
    background-color: rgb(65, 62, 62);
    color: white;
}
.btn-floating{
    border-color: white;
    border-radius:30px;
}
.footer-icon{
    font-size:20px;
    color: white;
}
.font-family{
    font-family: "Yeseva One", serif;
    font-weight: 400;
    font-style: normal;
  }
  